*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/banner.png);
    background-position: center;
    background-size: cover;
}
.ps-10{
    padding-left: 6rem;
}
.logo img{
    width: 250px;
}

.c-mr-0{
    margin-right: 0px;
}
.menu ul li{
    padding-right:25px ;
}
.menu ul li a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

.active,.menu ul li:hover a{
    color: red !important;
}
.menu ul li::after{
    content: " ";
    width: 0%;
    height: 2px;
    margin: auto;
    background-color: red;
    display: block;
    transition: .5s;
}
.menu ul li:hover::after{
    width: 70%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: relative;
    top: 100%;
    left: 5%;
    text-align: center;

}
.text-box h1{
    font-size: 62px;
    font-weight: 600;

}
.text-box p{
    font-size: 14px;
    margin: 40px 10px;
}
.text-box a{
    color: #fff;
    padding: 12px 33px;
}
.hero-btn{
    border: 1px solid #fff;
    border-radius: 0;
    transition: 1s;
}
.hero-btn:hover{
background-color: cornflowerblue;
border: 1px solid cornflowerblue;
}

.course{
    margin: 80px 135px;
    text-align: center;
}
.course h1{
    font-weight: 700;
}
.course p{
    font-size: 14px;
    color: #777;
}
.course-content{
    padding: 9px;
    background-color: #fff3f3;
    transition: .5s;
}
.course-content h5{
    text-align: center;
}
.course-content p{
    text-align: justify;
    color: #000 !important;
    margin-top: 15px;
}
.course-content:hover{
    box-shadow: 0px 0px 20px #777;
}
.campus-content img{
    width: 100%;
    border-radius: 5px;

}
.campus-content{
    position: relative;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    transition: .5s;
}
.layer-content h3{
    position: absolute;
    bottom: 0;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    opacity: 0;
    transition: .5s;
}
.campus-content:hover .layer-content h3{
    opacity: 2;
    bottom: 50%;
}
.campus-content:hover .layer{
    background-color: red;
    opacity: .4;
}
.facilities{
    padding: 0 135px;
}
.facilities-text{
    text-align: center;
}
.facilities-text p{
    font-size: 14px;
    color: #777;
}
.facilities-text h1{
    font-weight: 700;
}
.single-facility{
    border: none;
}
.single-facility img{
    border-radius: 5%;
}
.single-facility-body{
    padding: 0px;
}
.single-facility-body h6{
    font-size: 22px;
    margin: 30px 0px 10px;
    font-weight: 600;
}
.single-facility-body p{
    font-size: 14px;
    color: #777;
    text-align: justify;
}
.review{
    padding: 0 135px;
    text-align: center;
}
.review-text h1{
    font-weight: 600;
}
.review-text p{
    font-size: 14px;
    color: #777;
}
.review-content{
    background-color: #fff3f3;
    padding: 25px;
    margin-top: 25px;
}
.review-content img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.review-content p,h3,.star{
    text-align: justify;
}
.pb-50{
    padding-bottom: 50px;
}
.cta{
    text-align: center;
    border-radius: 5px;
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/banner2.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 50px;

}
.cta-content{
    margin-top: 15%;
}
.cta-content h1
{
    color: #fff;
    font-weight: 700;
}
.cta-content a{
    color: #fff;
}
.about{
    padding: 0 135px;
    text-align: center;
    margin-top: 80px;
}
.about-content p{
    font-size: 12px;
    color: #777;
}

.banner{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../image/background.jpg);
    background-position: center;
    background-size: cover;
}
.banner h1{
    font-size: 40px;
    margin-top: 50px;
}

.platform{
    padding: 0 135px;
    margin-top: 100px;
}
.platform-content h1{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 20px;
}
.platform-content p{
    font-size: 14px;
    color: #777;
    text-align: justify;
  }
  .platform-content a{
    font-size: 15px;
  }

.platform-content .hero-btn{
    border: 1px solid red;
    padding: 10px 60px;
}
.platform-content .hero-btn:hover{
    border: 1px solid cornflowerblue;
}
.blog{
    padding: 0 135px;
    margin-top: 100px;
}
.blog-content h1{
    font-size: 24px;
    font-weight: 600;
    margin: 25px 0px;
}
.blog-content p{
    font-size: 14px;
    color: #777;
    text-align: justify;
}
.heading-category{
    background-color: #f44336;
    margin-bottom: 30px;
}
.heading-category h3{
    color: #fff;
    text-align: center;
    padding: 10px;
}
.single-category {
    margin-top: 10px;
}
.single-category .col-md-3 p{
    text-align: right;
}

.comment-form{
    padding: 25px;
    margin-top: 25px;
}
.comment-form .input,.textarea{
    width: 100%;
    margin-bottom: 15px;
    padding-left: 25px;
    background-color: #ccc;
    color: red;
    resize: none;
}
.comment-form .input{
    height: 50px;
}
.comment-form .textarea{
    padding-top: 25px;
}
.comment-form .input:focus,.textarea:focus{
    outline: none;
    border: 5px solid red;
}
.comment-form .hero-btn{
    border-color:red ;
}
.contact-area{
    padding: 0 135px;
    margin-top: 50px;
}
.contact-area .fa-house-chimney{
    color: red;
    font-size: 27px;
    margin-top: 26px;
}
.contact-area .fa-phone,.fa-envelope{
    color: red;
    font-size: 27px;
    margin-top: 10px;
}

.contact-area h4,p{
margin-left: 15px;
color: #777;
}
.log-fixed{
    position: fixed;
    z-index: 3;
}
.menu-fixed{
    position: fixed;
    right: 0px;
    z-index: 3;
}


@media(max-width:540px){

    .header{
        min-height: 50vh;
    }
    .text-box{
        top: 10%;
    }
    .text-box h1{
        font-size: 20px;
        font-weight: 600;
    
    }
    .text-box p{
        text-align: justify;
    }
    
    .text-box a{
        padding: 6px 15px;
    }
    .logo img{
        width: 150px;
    }
    .ps-10{
        padding-left: 2rem;
    }
    .menu ul{
        background-color: darkcyan;
        position: absolute;
        z-index: 2;
        width: 162px;
        right: -11px;
    }
    .menu ul li a{
        text-align: justify;
        padding-left: 30px;
    }
    .menu ul li:last-child{
        width: 0%;
    }
    .menu button{
        background: #fff !important;
    }
    .course{
        margin: 20px 15px;
    }
    .campus-content img{
        margin-bottom: 15px;
    }
    .facilities{
        padding: 0 15px;
    }
    .review{
        padding: 0 15px;
    }

    .banner {
        min-height: 35vh;
    }
    .platform{
        padding: 0 15px;
        margin-top: 50px;
        position: relative;
    }
    .platform-image{
        position: absolute;
        top: 0px;
        width: 94%;
    }
    .platform-content{
        position: absolute;
        top: 310px;
    }
    .platform-content p{
        width: 94%;
    }
    .platform-content .hero-btn{
        margin: -3px 77px;
    }
    .about {
        padding: 0 15px;
    }
    .footer {
        padding: 0 15px;
        text-align: center;
        margin-top: 80px;
        position: relative;
        top: 710px;
      }
      .blog{
        padding: 0 15px;
        margin-top: 50px;
    }
    .comment-form{
        margin-bottom: 25px;
    }
    .contact-area{
        padding: 0 15px;
    }
    .contact-area h4{
        font-size: 18px;
    }
    .contact-area h4,p{
        margin-left: 0px;
    }
    
}

